{% extends "navbar_base.html" %}

{% load url from future %}
{% load i18n %}

{% block extra_navbar_main %}
    <div class="row">
        <div class="span8">
            <dl>
                <dt></dt>
                <dd>Shanghai Hilton International Trade CO., LTD is created as import export & agency to contend with the increasing demand in quality and variety required by worldwide for buyers at the most compatible prices coupled with excellent services by industry’s leading professionals. Shanghai Hilton was established in the year 2004 by Ye Dong Ying. We enter in the international market in 2005 when our company was joined by our overseas business partners and we have achieved a turnover of 20 million USD every year. We are delivering a complete end-to-end package of sourcing, development & delivery through strong market support, delivery fulfillment at the most competitive prices. All is being done under one management control and we act as your man on the spot.</dd>
            </dl>
            <dl>
                <dt>STRENGTH & DISTINCTION:</dt>
                <dd>We are primarily specialized in engineering goods such as Raw materials, fabricated items, Machineries & Equipments for Boiler, sugar plants, cement plants, steel plants and material handling. We cover wide range of raw materials like MS (Plates, Pipes, Tubes & pipe fittings, PVC pipe adhesive,),window, tructures, SS (Plates, pipes, Tubes) and alloy steel materials. The total strength of our company is 20 employees (12 local employees and 8 oversea employees).  We are developing constantly more to keep a pace with the needs of our customers.
                </dd>
            </dl>
            <dl>
                <dt>EXPERIENCE & WORKING:</dt>
                <dd>Our merchandising team has extensive work experience of 8 -10 years.</dd>
            </dl>
            <dl>
                <dt>WE WILL SERVE YOU:</dt>
                <dd>
                    <ul>
                        <li>Marketing team will be arranging the prime vendors who can fulfill your requirements like financial strength, Technical abilities, Factory compliances level and Vendor's strength and reputation in dealing with customers based on their experience. Facilitate & Co-ordinate the Buyer’s visits to China.
                        </li>
                        <li>Merchandising team will ensure customer satisfaction providing the Market Information and developing new resources and products. Appraise vendors of buyers' requirements and price negotiations. Communications and coordination with buyer on a daily basis, highlighting production status, shipping information and other customized reports in customers requested format.
                        </li>
                        <li>Keeping the buyer fully informed about the progress in production at every stage and maintaining a proactive approach to preventing potential problems and ensure on-time delivery of the finished goods.
                        </li>
                        <li>Shipping and Logistic team will make sure timely deliveries, best freight rates, perfect documentation, LC and payments & shipment tracking.
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="span4">
        </div>
    </div>
{% endblock %}