{% extends "navbar_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}

{% block extra_navbar_main %}
<address>
    <strong>SHANGHAI HILTON INTERNATIONAL TRADE CO.,LTD</strong><br>
    ROOM 6#321,NO.388 PANGU ROAD(XIANG TENG PLAZA)<br>
    BAOSHAN DISTRICT,SHANGHAI 201999 CHINA<br>
    <abbr title="Phone">P:</abbr> (0086) 21-66798296  21-56608871
    <abbr title="Fax">F:</abbr> (0086) 21-56691922
</address>
<address>
    <strong>Jacky han</strong><br>
    <abbr title="Mobile">M:</abbr> (0086) 13816965535 
    <a href="mailto:#">han_rz@yahoo.com.cn</a>
</address>
<address>
    <strong>Johnson liao</strong><br>
    <abbr title="Mobile">M:</abbr> (0086) 13301689856 
    <a href="mailto:#">johnson_biao@yahoo.com.cn</a>
</address>
{% endblock %}