{% extends "navbar_base.html" %}

{% load staticfiles %}
{% load url from future %}
{% load i18n %}

{% block navbar_main %}
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
        <img src="{% static "img/carousel/slide-01.jpg" %}" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>We are ...</h1>
          <p class="lead">Primarily specialized in engineering goods such as Raw materials, fabricated items, Machineries & Equipments for Boiler, sugar plants, cement plants, steel plants and material handling.</p>
        </div>
      </div>
    </div>
    <div class="item">
        <img src="{% static "img/carousel/slide-02.jpg" %}" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>We can ...</h1>
          <p class="lead">Cover wide range of raw materials like MS (Plates, Pipes, Tubes & pipe fittings, PVC pipe adhesive), window, tructures, SS (Plates, pipes, Tubes) and alloy steel materials.</p>
        </div>
      </div>
    </div>
    <div class="item">
        <img src="{% static "img/carousel/slide-03.jpg" %}" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>We are always ...</h1>
          <p class="lead">Developing constantly more to keep a pace with the needs of our customers.</p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->



<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  {% for category in product_categories %}
  {% if forloop.counter0|divisibleby:4 %}
  <div class="row">
    {% endif %}
    <div class="span3">
      <h2>{% trans category.category_name %}</h2>
      <p>{% trans category.description %}</p>
      <p><a class="btn" href="{% url 'product_category' category.id %}">View details &raquo;</a></p>
    </div><!-- /.span4 -->
  {% if forloop.counter|divisibleby:4 %}
  </div><!-- /.row -->
    {% endif %}
{% endfor %}
{% endblock %}

{% block extra_navbar_body %}
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
    <script src="{% static "js/holder.js" %}"></script>
{% endblock %}
