{% extends "sidebar_base.html" %}

{% load url from future %}
{% load i18n %}

{% block sidebar %}
<ul class="nav nav-list">
    <li class="nav-header">{% trans "Product" %}</li>
    {% for category in product_categories %}
    {% if category.id > 2 %}
    <li><a href="{% url 'product_category' category.id %}">{% trans category.category_name %}</a></li>
    {% else %}
    <li class="dropdown-submenu">
        <a tabindex="-1" href="#">{% trans category.category_name %}</a>
        <ul id="products_menu" class="dropdown-menu">
            {% for type in category.producttype_set.all %}
            <li>
                <a href="{% url 'product_list' category.id type.id %}">{% trans type.type_name %}</a>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endif %}
    <li class="divider"></li>
    {% endfor %}
</ul>
{% endblock %}

    {% block sidebar_main %}
    {% endblock %}

{% block sidebar_body %}
{% endblock %}
