{% load url from future %}
{% load i18n %}

{% block extra_navbar_main %}
    <div class="row">
        <div class="span8">
            <dl>
                <dt></dt>
                <dd>WE HAVE MORE THAN TEN YEAR EXPERIENCE ON EXPORT AGENCY,WE CAN SUPPLY WHOLE SERVICE</dd>
            </dl>
            <ol>
                <li>
                    <strong>GOODS&SUPPLIER  SOURCES</strong>
                    <dl>
                        <dt></dt>
                        <dd>WE HAVE MORE THAN 500 SUPPLIERS,THEY SUPPLY MORE THAN 20000 GOODS,YOU CAN FIND YOUR REQUIREMENT FROM OUR SUPPLIERS.</dd>
                    </dl>
                </li>
                <li>
                    <strong>SAVE PURCHASE COST</strong>
                    <dl>
                        <dt></dt>
                        <dd>YOU CAN DISCUSS CNY&USD PRICE WITH OUR SUPPLIER OR YOUR SUPPLIER DIRECTLY,WE CAN OFFER YOU BEST USD PRICE BASED ON SUPPLIER CNY PRICE,BECAUSE OF CHINESE REBATE POLICY.THIS WAY YOU CAN SAVE ABOUT 5~15% COST.</dd>
                    </dl>
                </li>
                <li>
                    <strong>SAVE TRAVEL COST&TIME</strong>
                    <dl>
                        <dt></dt>
                        <dd>MAYBE FIRST TIME,YOU NEED VISIT SUPPLIER TO CHECK THE GOODS,AFTER THAT,WE CAN CONTRAL THIS MATTER,SPECIAL FOR SMALL ORDER,YOU CAN SAVE LOTS OF TIME AND MONEY.</dd>
                    </dl>
                </li>
                <li>
                    <strong>BEST DELIVERY DATE</strong>
                    <dl>
                        <dt></dt>
                        <dd>IF YOU WORRY SUPPLIER’S DELIVERY DATE,DON’T WORRY,WE CAN PUSH THEM TO SHIP THE GOODS AS CONTRACT.</dd>
                    </dl>
                </li>
                <li>
                    <strong>SAVE SHIPING AGENT CHARGE</strong>
                    <dl>
                        <dt></dt>
                        <dd>IF YOU HAVE TEN SUPPLIERS’ GOODS NEED TO BE SHIPPED IN ONE TIME,THEN YOU HAVE TO PAY TEN TIMES SHIPING AGENT CHARGE,BUT IF THROUGH OUR COMPANY,YOU ONLY NEED TO PAY ONE TIME AGENT CHARGE.</dd>
                    </dl>
                </li>
                <li>
                    <strong>GOOD PAYMENT TERM</strong>
                    <dl>
                        <dt></dt>
                        <dd>WE CAN ACCEPT PAYMENT TERM:T/T,D/P,L/C;IF WE HAVE GOOD COOPERATE,WE ALSO CAN GIVE PAYMENT CREDIT TO YOU,SO YOU CAN USE YOUR MONEY ON MORE BUSSINESS.</dd>
                    </dl>
                </li>
                <li>
                    <strong>OUR CUSTOMER IN INDIA:</strong>
                    <dl>
                        <dt></dt>
                        <dd>
                            <ul>
                                <li>HI-TECH SERVICES</li>
                                <li>KORES (INDIA) LIMITED ENGINEERING DIVISION</li>
                                <li>RICHA INDUSTRIES LIMITED(PEB DIVISION) </li>
                                <li>PARANTHAMAN EXPORTERS</li>
                                <li>MULTICOLOR STEELS INDIA PVT.LTD</li>
                                <li>JCR DRILLSOL PVT LTD</li>
                                <li>PUMA LIFT TRUCKS PVT LTD.</li>
                                <li>A ONE INDUSTRIES</li>
                                <li>ISGEC HEAVY ENGINEERING LTD</li>
                            </ul>
                        </dd>
                    </dl>
                </li>
            </ol>
        </div>
        <div class="span4">
        </div>
    </div>
{% endblock %}