
{% extends "pagination_base.html" %}

{% load i18n %}
{% load url from future %}

{% block list %}
<div id="path">
    <ul class="breadcrumb">
        {% for node in path %}
        <li {% if forloop.last %} class="active" {% endif %}>
            {% trans node %}
            {% if not forloop.last %} <span class="divider">/</span> {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
<div class="hero-unit">
    <ul>
        <table class="table table-striped">
            <tbody>
                {% for product in products %}
                {% if forloop.counter0|divisibleby:2 %}
                <tr>
                    {% endif %}
                    <td>
                        <div class="thumbnail">
                            <img data-src="holder.js/360x240" src="{{ product.photo.url }}" alt="">
                            <h3>
                                <a data-toggle="modal" href="{% url 'product_detail' product.id %}" data-target="#myModal">
                                    {% trans product.product_name %}
                                </a>
                            </h3>
                            <p>{% trans product.description %}</p>
                        </div>
                    </td>
                    {% if forloop.counter|divisibleby:2 %}
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </ul>
</div>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Product Info</h3>
  </div>
  <div class="modal-body">
    <div id="detail"></div>
  </div>
</div>
{% endblock %}
