{% load url from future %}
{% load i18n %}

{% block extra_navbar_main %}
    <div class="row">
        <div class="span8">
            <dl>
                <dt>Refrigerant</dt>
                <dd></dd>
            </dl>
            <ol>
                <li>
                    <strong>Trifluoromethane Fluorform (HFC - 227 ea)
                    </strong>
                    <dl>
                        <dt>Molecular formula: CF3CHFCF3</dt>
                        <dd>Mainly used for total flooding fire extinguishing system, is an ideal substitute for Halon1301, has many characteristics, such as cleaning, fire suppression effect and lower toxicity.</dd>
                    </dl>
                </li>
                <li>
                    <strong>Industrial Chlorodifluoromethane (hcfc-22)
                    </strong>
                    <dl>
                        <dt>Molecular formula: CHCIF2</dt>
                        <dd>Mainly used in industrial, commercial, household air conditioning system such as refrigerant.</dd>
                    </dl>
                </li>
                <li>
                    <strong>Industrial Tetrafluoroethane (Hfc - 134 - a)
                    </strong>
                    <dl>
                        <dt></dt>
                        <dd>Is mainly used for automobile air conditioner, refrigerator, commercial refrigeration and other industries of the refrigerant.</dd>
                    </dl>
                </li>
            </ol>
        </div>
        <div class="span4">
        </div>
    </div>
{% endblock %}